@import url("https://fonts.googleapis.com/css2?family=Gentium+Plus:wght@700&family=Roboto+Slab:wght@300&display=swap");

:host {
  display: flex;
  gap: 50px;
  background-color: white;
  position: -webkit-sticky;
  position: fixed;
  z-index: 1;
  width: 100%;
}

#home-button {
  margin-right: 25px;
}
.header-buttons {
  margin: auto;
}
img {
  cursor: pointer;
  margin-left: 60px;
}
