@import url("https://fonts.googleapis.com/css2?family=Gentium+Plus:wght@700&family=Roboto+Slab:wght@300&display=swap");

:host {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  position: sticky;
}

#home-button {
  margin-right: 25px;
}
/* #input-search {
  border: none;
} */
.header-buttons {
  margin: auto;
}
img {
  margin: auto;
  margin-top: 20px;
}
