<div class="site-footer">
  <div class="upper-side">
    <div class="search">
      <h2>HAI IN ECHIPA!</h2>
      <p>
        Dorim sa ne marim echipa. Daca esti intersat, trimite CV-ul tau pe
        adresa de e-mail
        <a href="mailto:hello@vendettasaloon.ro">hello@vendettasaloon.ro </a>
        sau vino in salon sa ne cunoastem.
      </p>
    </div>

    <div class="services">
      <h2>Servicii</h2>
      <ul>
        <li>Spalat</li>
        <li>Tuns femei</li>
        <li>Tuns barbati</li>
        <li>Aranjat par</li>
        <li>Aranjat barba</li>
        <li>Coafuri extravagante</li>
      </ul>
    </div>

    <div class="contact">
      <h3>CONTACT</h3>
      <p>
        <img
          src="../../assets/pictures/mark-icon.png"
          class="img-contact"
          alt="mark"
        />
        Str. Anastasie Panu nr. 56 IASI
      </p>
      <p>
        <img
          src="../../assets/pictures/phone-icon.png"
          class="img-contact"
          alt="phone"
        />
        +0740 420 272
      </p>
      <p>
        <img
          src="../../assets/pictures/clock-icon.png"
          class="img-contact"
          alt="clock"
        />
        10:00 - 20:00, Monday - Saturday
      </p>
    </div>

    <div class="menu">
      <h3>MENIU RAPID</h3>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="/about-us">About</a></li>
        <li><a href="/contact">Contact</a></li>
        <li>
          <a href="https://www.vendettasaloon.ro/preturi/">Servicii&preturi</a>
        </li>
        <li><a href="https://aclara.ro/">Shop</a></li>
        <li><a href="https://www.vendettasaloon.ro/blog/">Blog</a></li>
      </ul>
    </div>
  </div>

  <div class="lower-side">
    <p>&copy; VENDETTA REPLICA {{ currentYear }}</p>

    <p>All rights reserved. Designed and Developed by Lazarec</p>

    <div class="icons">
      <mat-icon>facebook</mat-icon>

      <img src="assets/icons/insta.svg" alt="insta" id="insta" />

      <img src="assets/icons/twitter.svg" alt="twitter" id="twitter" />

      <img src="assets/icons/youtube.svg" alt="youtube" id="youtube" />
    </div>
  </div>
</div>
