:host {
  display: block;
  text-align: center;
  padding: 0px;
  background-color: black;
  color: grey;
}
#insta {
  margin-left: 30px;
  stroke: grey;
}
#twitter {
  margin: 30px;
  margin-bottom: 0;
}
.upper-side {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid grey;
  padding: 20px;
}
.upper-side a {
  text-decoration: none;
  color: grey;
}
.upper-side ul {
  list-style: none;
  padding-left: 0;
}
.search,
.services,
.contact,
.menu {
  width: 250px;
}
.site-footer {
  background-image: url(https://hairsalon.thememove.com/data/images/footer_bg.png);
}
@media screen and (max-width: 61.9375rem) {
  .site-footer {
    background-image: none !important;
  }
}
a {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: large;
}
ul {
  text-align-last: left;
  margin-top: 10px;
  margin-left: 80px;
}
.contact {
  text-align: left;
  margin-left: 20px;
  padding-left: 10px;
}
