<!-- <button (click)="btnClick()"><i class="fa fa-plus"></i></button> -->
<div class="images">
<img src="../../assets/pictures/2.jpg" alt="img2" [width]="399" />
<img src="../../assets/pictures/6.jpg" alt="img6" [width]="260" />
<img src="../../assets/pictures/20.jpg" alt="img20" [width]="260" />
<img src="../../assets/pictures/8.jpg" alt="img8" [width]="260" />
<img src="../../assets/pictures/24.jpg" alt="img24" [width]="225" />
<img src="../../assets/pictures/1.jpg" alt="img1" [width]="225" />
<img src="../../assets/pictures/10.jpg" alt="img10" [width]="225" />
<img src="../../assets/pictures/26.jpg" alt="img26" [width]="325" />
<img src="../../assets/pictures/21.jpg" alt="img21" [width]="325" />
</div>