<div class="video">
<!-- <iframe width="560" height="315" src="https://www.youtube.com/watch?v=QcbUYuuUqAo&ab_channel=AndreiVarlan"</iframe> -->
</div>
<div class="first-container">
  <img
    src="../../assets/pictures/25.jpg"
    alt="img25"
    [width]="200"
    [height]="270"
  />
  <img
    src="../../assets/pictures/6.jpg"
    alt="img6"
    [width]="200"
    [height]="270"
  />
  <img src="../../assets/pictures/20.jpg" alt="img20" [width]="200" />
  <img src="../../assets/pictures/8.jpg" alt="img8" [width]="200" />
  <img
    src="../../assets/pictures/24.jpg"
    alt="img24"
    [width]="200"
    [height]="270"
  />
</div>
<div class="second-container">
  <img
    src="../../assets/pictures/1.jpg"
    alt="img1"
    [width]="200"
    [height]="250"
  />
  <img
    src="../../assets/pictures/22.jpg"
    alt="img22"
    [width]="200"
    [height]="250"
  />
  <img
    src="../../assets/pictures/26.jpg"
    alt="img26"
    [width]="200"
    [height]="250"
  />
  <img
    src="../../assets/pictures/21.jpg"
    alt="img21"
    [width]="200"
    [height]="250"
  />
  <img
    src="../../assets/pictures/9.jpg"
    alt="img9"
    [width]="200"
    [height]="250"
  />
</div>
