#container {
  border-top: solid 1px black;
  text-align: center;
}
#date {
  padding: 0;
  margin-left: 6px;
}
#phone {
  margin-left: 4px;
}
#hour {
  margin-left: -3px;
}
#service {
 margin-right: 5px;
}
.button-app {
  margin-left: 30px;
}
.input{
  font-size: 1rem;
  padding: 3px 5px;
  margin-bottom: 5px;
}