#container {
  border-top: solid 1px black;
  text-align: center;
}
#date {
  padding: 0;
  margin-left: 6px;
}
#phone {
  margin-left: 4px;
}
#hour {
  margin-left: -3px;
}
#service {
  margin-right: 5px;
}
.button-app {
  margin-left: 30px;
}
.input {
  font-size: 1rem;
  padding: 3px 5px;
  margin-bottom: 5px;
}

.form-container {
  position: relative;
}
.pop-up-appointment {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  padding: 15px 10px;
  background: red;
  color: white;
  opacity: 0;
  transition: all 1.5s;
  border-radius: 12px;
}
.pop-up-active {
  opacity: 1;
}
