#container {
  background: rgb(188, 185, 194) url(../../assets/pictures/23.jpg) no-repeat;
  background-position: center;
  text-align: center;
  font-family: fantasy;
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0;
}
#date {
  padding: 0;
  margin-left: 3px;
}
#phone {
  margin-left: 3px;
}
#service {
  margin-right: 7px;
}
.button-app {
  margin-left: 60px;
}
.input {
  font-size: 1rem;
  padding: 3px 5px;
  margin-bottom: 5px;
}
.form-container {
  position: relative;
}
.pop-up-appointment {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  padding: 15px 10px;
  background: bisque;
  color: black;
  opacity: 0;
  transition: all 2s;
  border-radius: 12px;
}
.pop-up-active {
  opacity: 0.6;
}
.btn-app {
  margin-left: 60px;
}
.error-message-on {
  position: absolute;
  content: "";
  color: rgb(39, 10, 10);
  font-size: 18px;
  font-style: oblique;
  top: 50px;
  right: 100px;
}
